.professionalContainer {
  padding: 48px 24px;
  display: flex;
  align-items: flex-start;
  gap: 24px;

  @media (max-width: 768px) {
    padding: 0;

    &.activeMenuMobile {
      background-color: #ffffff;
    }
  }
}

.leads-container {
  flex: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &.mobile-hidden {
    display: none;
  }
}

.leads-mobile-header {
  display: none;
  align-items: center;
  padding: 8px 16px;
  height: 64px;
  border-bottom: 1.3px solid #a6a6a6;

  @media (max-width: 768px) {
    display: flex;
  }
}

.leads-back-button {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.078px;
  color: #1e1e1e;

  img {
    width: 32px;
    height: 32px;
  }
}

.leads-content {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 8px;;
}

.leads-header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  h1 {
    margin: 0;
    
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: #1e1e1e;
  }

  p {
    margin: 0;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1e1e1e;
  }

  @media (max-width: 768px) {
    h1 {
      display: none;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }
}
/*
.leads-add-button {
  height: 48px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #006aff;
  background: #006aff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .leads-header .leads-add-button {
    display: none;
  }
}
*/
.leads-list-container {
  border: 1px solid #A6A6A6;
  border-radius: 8px;

  .leads-header {
    
    padding-top: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    
    .leads-tabs {
      display: flex;
      border-bottom: 1px solid #A6A6A6;
      z-index: 1;
      .leads-tab {
        border: 1.3px solid #a6a6a6;
        border-bottom: none;
        border-radius: 8px 8px 0 0;
        background: #ffffff;
        padding: 8px 12px;
        
        font-size: 14px;
        font-weight: 600;
        color: #1e1e1e;
        cursor: pointer;

        &.active {
          background: #ebf2fd;
          color: #006aff;
          margin-bottom: -1px;
        }

        &:first-of-type {
          border-top-left-radius: 0;
        }
      }
    }

    .leads-paginator {
      padding-right: 16px;
    }    
  }

  .leads-list {
    background-color: #fff;
    border-radius: 8px;
    .lead-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px;
      border-bottom: 1px solid #A6A6A6;
      min-height: 52px;
      font-weight: 400;

      &:last-child {
        border-bottom: none;
      }

      .lead-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #006aff;
        flex-shrink: 0;
        visibility: hidden;
      }

      .lead-star {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }

      .lead-name {
        width: 200px;
        flex-shrink: 0;        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.75%;
      }

      .lead-property, .lead-operation {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5%;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.75%;
          margin-bottom: 8px;
        }
      }

      .lead-status {
        width: 200px;
        flex-shrink: 0;

        &-badge {
          display: inline-flex;
          align-items: center;
          
          .select-trigger {          
            padding: 8px;
            border-radius: 4px;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.5%;          
            background-color: #FFF70066;
            border: 0 none;
            height: auto;
            .select-display  {
              font-weight: 600;
            }
            
          }

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      .lead-date {
        flex-shrink: 0;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 5%;
        width: 100px;
        text-align: right;
      }

       
      &.unread {
        font-weight: 600 !important;
        .lead-dot {
          visibility: visible;
        }
      }
    }
  }

}

.leads-filter {
  display: flex;
  gap: 16px;
  background-color: #F5F5F5;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  gap: 10px;
  padding: 13px 16px;

}