.favorites-container {
    max-width: 1240px;
    width: 100%;
    margin: 32px auto;

    h1 {
        font-weight: 700;
        font-size: 36px;        
        line-height: 43px;
        letter-spacing: 0%;
    }
}