.favorites-container {
    max-width: 1240px;
    width: 100%;
    margin: 32px auto;

    @media (max-width: 894px) {
        padding: 16px;
    }

    h1 {
        font-weight: 700;
        font-size: 36px;        
        line-height: 43px;
        letter-spacing: 0%;
        margin-bottom: 32px;
    }

    .favorites-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .property-detail-contact-modal.is-open {
        align-items: center;
        justify-self: center;
        width: 100%;
    }
    
    .property-detail-contact-modal-panel {
        width: 480px;
        height: auto;
        @media (max-width: 894px) {
            width: 100%;
            height: 100%;
        }
    }
}

