@use '@/styles/variables' as *;

.property-card-myProperties-list {
  flex-grow: 1;

  .card-content {
    border: 1.3px solid #A6A6A6;
    border-radius: $border-radius-md;
    padding: 16px;
    display: flex;
    gap: $spacing-md;
    align-items: center;

    @media (max-width: 768px) {
      padding: 8px;
    }
  }

  .property-image {
    width: 142px;
    border-radius: 4px;
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 3/2;

    @media (max-width: 400px) {
      display: none;
    }
  }

  .property-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 0;

    .property-type {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.25%;
      margin-bottom: 8px;
      color: #7A7A7A;
    }

    .property-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.75%;
      color: #1E1E1E;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      
    }

    .property-street {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.25%;
      color: #7A7A7A;
    }

    .property-type-price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .publication-type {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.25%;
      }

      .property-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.75%;
      }
    }
  }
}
